.elso {
    width: 40%;
    background-color: chartreuse;
    color: white;
    padding: 10px;
    border-radius: 10px;

}
.masodik {
    width: 40%;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;

}